## Quality Report For Unity Android Logcat

### Version tested: 0.2.6 

#### QA Owner: Juozas Kasiliauskas @juozas

## Test strategy
* Manual tests, more robust Tag window testing
* Changing platform, re-launching editor while Tag window is open
* No test project, just empty project with package added

## Package status
* Minor issues fixed
* Package stability: Good, usable product, some known issues still there, but ranging on the more corner-case side
* [known bugs, issues](https://gitlab.cds.internal.unity3d.com/upm-packages/mobile/mobile-android-logcat/issues)


### Version tested: 0.2.5 

#### QA Owner: Juozas Kasiliauskas @juozas

## Test strategy
* Manual tests, issues reported to gitlab, no doc
* No test project, just empty project with package added

## Package status
* A lot of UX issues fixed, Tag window added and improved
* Package stability: Good, issues that were found were fixed
* [known bugs, issues](https://gitlab.cds.internal.unity3d.com/upm-packages/mobile/mobile-android-logcat/issues)

### Version tested: 0.2.1

#### QA Owner: Juozas Kasiliauskas @juozas

## Test strategy

* Manual test Results, [Link to doc](https://docs.google.com/document/d/1bhSnYdWCtcrUY5Hzjx0AEWEB78XuU5n6yZ4ZHiGE3lE/edit)
* No test project, just empty project with package added

## Package status
* UX status: Good, some improvements applied, some still being worked on
* Package stability: Good, no major issues.
* [known bugs, issues](https://gitlab.cds.internal.unity3d.com/upm-packages/mobile/mobile-android-logcat/issues)


### Version tested: 0.1.3

#### QA Owner: Mykolas Mankevicius @mykolas

## Test strategy
* [Editor test suite](https://gitlab.cds.internal.unity3d.com/upm-packages/mobile/mobile-android-logcat/pipelines)
* Manual test Results, [Link to doc](https://docs.google.com/document/d/13_U3Xe214KWFOzJLOVN9bm3-FVVUocysuNH1xIRlRbQ/edit#)
* [Test Project](https://gitlab.cds.internal.unity3d.com/upm-packages/mobile/mobile-android-logcat/tree/master/TestProjects/SampleProject1)

## Package Status
* UX status: good for preview release, will fix issues when feedback is received
* Package stability: no major issues
* [known bugs, issues](https://gitlab.cds.internal.unity3d.com/upm-packages/mobile/mobile-android-logcat/issues)